<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- This Line is important because of changs in Cordova 4 upwards-->
    <meta http-equiv="Content-Security-Policy" content="default-src *; script-src 'self' 'unsafe-inline' 'unsafe-eval' *; style-src  'self' 'unsafe-inline' *"> 
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="lib/ngCordova/dist/ng-cordova.js"></script>
    <script src="cordova.js"></script>
    <!-- external libaries used in this project-->
    <script src="js/gibberish-aes.js"></script>
    <script src="js/moment.js"></script>
    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/controller/MainController.js"></script>
    <script src="js/services/FileService.js"></script>

  </head>
  <body ng-app="starter" ">

    <ion-pane>
      <ion-header-bar class="bar-stable">
        <h1 class="title">eExam</h1>
      </ion-header-bar>
      <ion-content ng-controller="MainController">
        <form name="dataForm">
          <div class="list">
            <label class="item item-input">
              <input type="text" placeholder="Course of Study" ng-model="data.courseOfStudy">
            </label>
            <label class="item item-input">
              <input type="text" placeholder="Course" ng-model="data.course">
            </label>
            <label class="item item-input">
              <input type="text" placeholder="Email" ng-model="data.email">
            </label>
          </div>
          <button ng-click="saveData(data)" class="button button-full button-positive">Save data</button>
        </form>
        <button ng-click="readyPopup()" ng-disabled="disableReady" class="button button-full button-positive">Ready send</button>
        <button ng-click="uploadPopup()" ng-disabled="disableUpload" class="button button-full button-positive">Upload</button>

        
      </ion-content>
    </ion-pane>
  </body>
</html>
